@model ContatoViewModel

@{ ViewData["Title"] = "Contatos"; }

<div class="position-relative">
    <img style="filter: opacity(50%)" src="~/media/puzzles.jpeg" />
</div>
<br />

<div class="container">
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark bg-white">
            <div class="block-heading mb-4 p-3">
                <h2 class="text-info">Fale conosco</h2>
                <p>
                    Deixe aqui suas duvidas, elogios e sugestões para melhorar nossos serviços.
                </p>
            </div>
            <hr />
            @if (ViewData["message"] != null)
            {
                <p class="alert alert-danger text-center">@ViewData["message"]</p>
            }
            <div class="container row">
               
                <form class=" col-10" method="post" asp-action="EnviarContato" autocomplete="off">
                    <div class="mb-3">
                        <label class="form-label" asp-for="Nome">Nome</label>
                        <input class="form-control" type="text" asp-for="Nome">
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Email">Email</label>
                        <input class="form-control" type="email" asp-for="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Assunto">Assunto</label>
                        <input class="form-control" type="text" asp-for="Assunto">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Mensagem">Mensagem</label>
                        <textarea class="form-control" rows="6" asp-for="Mensagem"></textarea>
                        <span asp-validation-for="Mensagem" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <input type="submit" class="btn btn-primary" value="Enviar" />
                    </div>
                </form>
                
            </div>
        </section>
    </main>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}