@{
    ViewData["Title"] = "Mensagem Enviada";
}
<div class="container">
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark bg-white">
            <div class="container" style="padding: 150px;">
                <h1 class="text-success">Mensagem enviada com sucesso!</h1>
                <a class="btn btn-primary align-self-center" asp-action="Contatos">Voltar</a>

            </div>
        </section>
    </main>
</div>